
h1 {
 text-align: center;
 margin-top: 30px;
 font-family: 'East Sea Dokdo', cursive;
 font-size: 80px;
 color: #808080;
}

#container, #interna {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

#interna {
    margin: 0 auto;
    margin-top: 0;
    border: solid #808080 0.5px;
    border-radius: 15px;
}

.geral, img, form {
    width: 450px;
    height: 350px;
    display: inline-block;
}

form {
    display: block;
    text-align: center;
    background-color: #fcfcfc;
}

h2 {padding: 30px 0 15px 0;}

input, button {
    margin-top: 10px;
    width: 250px;
    height: 35px;
    border-radius: 30px;
    
}

input {text-align: center;}

.input:focus {
    outline: 0;
    width: 260px;
    border-color: #00008b;

}

#checkbox {
    display: block;
    width: 12px;
    height: 12px;
    margin: 10px 0 0 100px;
    cursor: pointer;
}

label {
    display: block;
    position: relative;
    top: -14px;
    width: 88px;
    margin-left: 106px;
    font-size: 12px;
}

#botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 140px;
}

#btnLogin {
    margin: 0px;
    outline: none;
    cursor: pointer;
    background-color: #3cb371;
}

#btnLogin:active {box-shadow: 3px 3px;}

a {
    display: block;
    margin-top: 5px;
    text-decoration: none;
    font-size: 14px;
}

#crie-um-conta {
    margin-top: 50px;
}