.interna {margin-top: 30px;}

table { width: 900px; }

table, th, td { 
    color: white;
    background-color: #1C1C1C;
    font-size: 12px;
    text-align: center;
    opacity: 0.9;
}

table button {
    background: none;
    border: none;
    cursor: pointer;
}

table button:active {
    background-color: aliceblue;
}

.img-problema {
    width: 170px;
    height: 100px;
}

.descricao-class {
    width: 200px;
    text-align: left;
    font-weight: 600;
    padding: 15px;
}

#btn-altera-imagem {
    position: relative;
    bottom: 323px;
    left: 205px;
}

table img {width: 20px;}

#next-previous {
    display: none;
    position: relative;
    top: 473px;
    left: 390px;
}

#next-previous #anterior #img-anterior,
#next-previous #proximo #img-proximo {
    width: 25px;
    height: 25px;
}

#next-previous #anterior,
#next-previous #proximo {
    width: 60px;
    background-color: white;
    margin: 0 auto;
}

#next-previous #anterior:hover,
#next-previous #proximo:hover { background-color: #423e3e;}